# Enable the RewriteEngine
RewriteEngine On

# Rule to map /office-space to /pages/officespace.php
RewriteRule ^office-space$ /pages/office-space.php [L]

# Rule to map /coworking to /pages/coworking.php
RewriteRule ^coworking$ /pages/coworking.php [L]

# Rule to map /virtual-office to /pages/virtual-office.php
RewriteRule ^virtual-office$ /pages/virtual-office.php [L]

# Rule to map /meeting-rooms to /pages/meeting-rooms.php
RewriteRule ^meeting-rooms$ /pages/meeting-rooms.php [L]

# Rule to map /event-space to /pages/event-space.php
RewriteRule ^event-space$ /pages/event-space.php [L]

# Rule to map /contact-us to /pages/contact-us.php
RewriteRule ^contact-us$ /pages/contact-us.php [L]